* {
    box-sizing: border-box;
}

body {
    font-family: Calibri, sans-serif;
    color: #FEEED5;
}

.main {
    background-color: #327983;
}

.container {
    background-color: #4E5B6B;
    height: 100vh;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    outline: #FFF solid 3px;
}

.container > h1 {
    font-size: 26px;
    font-weight: 700;
    padding: 10px;
}

.input_celsius {
    max-width: 400px;
    width: 100%;
    padding: 4px;
    text-align: center;
    margin-top: 5px;
}

.input_celsius::placeholder {
    text-align: center;
}

.input_celsius:focus {
    outline: none;
}

.button {
    background-color: #234257;
    max-width: 400px;
    width: 100%;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    padding: 10px 5px;
    font-weight: 500;
    margin-top: 5px;
    color: #FEEED5;
}

.button:focus {
    border-color: #FFF;
}

.output_message > div {
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
}

.error_message {
    visibility: hidden;
    margin-top: 5px;
}

.invalid.error_message {
    color: #F00F;
    visibility: visible;
}