* {
    box-sizing: border-box;
}

.header {
    font-size: 28px;
    margin-bottom: 14px;
}

.sub-blocks {
    margin-bottom: 10px;
}

.main {
    width: 770px;
    height: 380px;
    padding: 12px;
    background-color: #FEEED5;
}

[color="blue"] {
    color: #688A94;
    font-weight: 600;
}

.crossed-out {
    text-decoration: line-through;
}

.main_font {
    font-family: Helvetica, sans-serif;
}

.content {
    text-indent: 15px;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
}

.font-size-17 {
    font-size: 17px;
}
