* {
    box-sizing: border-box;
}

.header {
    font-size: 28px;
    padding-bottom: 14px;
}

.sub-blocks {
    margin-bottom: 5px;
    color: #67656C;
}

.main {
    width: 745px;
    height: 425px;
    padding: 12px;
    background-color: #FEEED5;
}

.blue {
    color: #278DB2;
    font-weight: 600;
}

.crossed-out {
    text-decoration: line-through;
}

.main_font {
    font-family: Helvetica, sans-serif;
}

.content {
    text-indent: 15px;
    font-size: 15px;
    text-align: justify;
}

.font-size-and-line-height {
    font-size: 17px;
    line-height: 1.45;
}
