* {
    box-sizing: border-box;
}

.header {
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 10px;
}

.sub-blocks {
    margin-bottom: 8px;
}

.main {
    max-width: 745px;
    width: 100%;
    padding: 10px 12px 5px;
    background-color: #FEEED5;
    font-family: Helvetica, sans-serif;
    color: #67656C;
}

.blue-text {
    color: #278DB2;
    font-weight: 600;
}

.crossed-out {
    text-decoration: line-through;
}

.content {
    text-indent: 15px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.45;
    margin-bottom: 10px;
}

.font-size-and-line-height {
    font-size: 17px;
    line-height: 1.23;
}
