* {
    box-sizing: border-box;
}

body {
    font-family: Calibri, sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.table th {
    height: 49px;
    padding: 14px 12px 12px;
    border: 1px solid #ABD8F5;
    color: #FFF;
    background-color: #3598DB;
    text-align: left;
}

.table td {
    height: 52px;
    padding: 14px 12px 12px;
    border: 1px solid #CECECE;
}

.table tr:nth-child(odd) {
    background-color: #EEE;
}

.name {
    width: 175px;
}

.job-title {
    width: 310px;
}

.twitter {
    width: 200px;
}